<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level %class{50}.%M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console_colored" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%boldCyan(%d{HH:mm:ss.SSS} %-5level %msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="console_colored_table" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%boldYellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="org.postgresql" level="debug">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.jdbc" level="info">
        <appender-ref ref="console"/>
    </logger>

    <logger name="ru.javawebinar.topjava" level="debug">
        <appender-ref ref="console"/>
    </logger>

    <logger name="timeMeasure" level="info">
        <appender-ref ref="console_colored"/>
    </logger>

    <logger name="table" level="info">
        <appender-ref ref="console_colored_table"/>
    </logger>

</configuration>